<div class="contact-container page-body">

  <p>Contact body</p>

  <% references = ['elise', 'corey', 'violet', 'dave'] %>

  <h2>References:</h2>
  <ol>
    <% references.each do |reference| %>
    <li><%= reference.capitalize %></li>
    <% end %>
  </ol>

</div>
