.footer-cta-container {
  background-color: $secondary-color;
  color: white;
  // display: flex;
  // justify-content: space-between;
  padding: 28px 0;
  font-size: $lrg-font;
  text-align: center;
}
