footer.footer-container {
  background-color: $primary-color;
  color: white;
  // display: flex;
  // justify-content: space-between;
  padding: 62px 0;
  font-size: $lrg-font;
  text-align: center;
}
