nav.nav-container {
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 36px;

  h1 {
    margin: 0;
    padding: $base-spacing/1.5 0;
    font-size: $lrg-font;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;

    li {
      list-style-type: none;
      padding-left: $base-spacing/1.5;

      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
      }
    }
  }
}
